@model IEnumerable<SocialIcon>

<div class="col-md-12" style="padding-top:50px;">
    @foreach (var icon in Model)
    {
        <a style="background:@icon.BackgroundColor" href="@icon.TargetUrl">
            <i class="@icon.Class"></i>
            @icon.Name
        </a>
    }
</div>
